@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Poppins ;
}

.login-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.login-header img {
  margin-right: 10px;
}

.login-header h1 {
  font-size: 24px;
  
}

.login-card button {
  background: #4285F4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  background: #357ae8;
}

.user-info {
  margin-top: 10px;
}

.user-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 05px;
}
